CompileFlags:
  Add: 
    - -std=c++11
    - -Wall
    - -Wextra
    - -Wpedantic
    - --cuda-path=/usr/local/cuda
    - --cuda-gpu-arch=sm_75
    - -L/usr/local/cuda/lib64
    - -I/usr/local/cuda/inclu
  Remove:
    [-m*, -f*, -options-file]

Index:
  Background: Skip 

Diagnostics:
  # Tweak Clang-Tidy checks.
  ClangTidy:
    Add: [performance*, modernize*, readability*, bugprone*, cppcoreguidelines*, misc*]
    Remove: [modernize-use-trailing-return-type, cppcoreguidelines-owning-memory]
    CheckOptions:
      readability-identifier-naming.VariableCase: camelCase
